.actionbutton {
    background: linear-gradient(30deg, rgba(94,53,177,1) 10%, rgba(3,155,229,1) 100%);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: x-large;
    color: white;
    border-radius: 50px;
    padding: 1em;
    width: 75%;
    border: 0;
  }
  