@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');

/* .tab{
 color: #6238f2;
 font-family: 'Roboto', sans-serif;
 font-weight: 900;
} */

.header{
    text-align: left;
    display: flex;
    justify-content: space-around;
    box-shadow: inset;
    
   }