@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&display=swap");

h2 {
  color: #6238f2;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 50px;
  margin: 0;
  padding: 0.3em;
}
.h2 {
  color: #6238f2;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 50px;
  margin: 0;
  padding: 0.3em;
}
.h6 {
  color: #6238f2;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: xx-large;
}

.h4 {
  color: #6a6a6a;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: xx-large;
}

.actionbutton {
  background: linear-gradient(to right, #3D3DF4, #9A37F2);
  font-family: "Roboto", sans-serif;
  font-weight: 380;
  /* font-size: large;  */
  color: white;
  border-radius: 50px;
  padding: 1em;
  width: 100%;
  border: 0;
  box-shadow: 0 3px 5px 2px rgba(0, 0, 0, .25);
  cursor: pointer
}

.loginbutton {
  /* font-weight: 380; */
  font-size: 16px;
}

.author-name {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  color: #7c7c7c;
}

.roundedInput{
    border-radius: 50px;
  }