@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* h2 {
  color: #6238f2;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: xxx-large;
} */
/* h6 {
  color: #6238f2;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: xx-large;
} */

h4 {
  color: #4b4b4b;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: xx-large;
}

.author-name {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  color: #7c7c7c;
}


.roundedInput{
  border-radius: 50px;
}